[submodule "src/altacv"]
	path = src/altacv
	url = https://github.com/liantze/AltaCV.git
[submodule "src/deedy-reversed"]
	path = src/deedy-reversed
	url = https://github.com/ZDTaylor/Deedy-Resume-Reversed.git
